@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .d-flex {
        display: -ms-flexbox !important;
        display: flex !important;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
</style>
<div class="stats">
    <div class="p-3 d-flex">
        <div class="w-100">
            <div class="small-box bg-success m-auto">
                <div class="inner p-5">
                    <h3>@String.Format("{0:N0}", @ViewBag.TongDoanhThu) VND</h3>

                    <h4>Tổng doanh thu</h4>
                </div>
                <div class="icon">
                    <i class="ion-social-usd-outline"></i>
                </div>
                <a href="#" class="small-box-footer"></a>
            </div>
        </div>
        <div class="w-100">
            <div class="small-box bg-primary m-auto">
                <div class="inner p-5">
                    <h3>@ViewBag.ThongKeDonHang đơn</h3>

                    <h4>Tổng Đơn Hàng</h4>
                </div>
                <div class="icon">
                    <i class="ion-android-cart"></i>
                </div>
                <a href="#" class="small-box-footer"></a>
            </div>
        </div>
    </div>
    <div class="p-3 d-flex">
        <div class="w-100">
            <div class="small-box bg-danger m-auto">
                <div class="inner p-5">
                    <h3>@ViewBag.ThongKeKH người</h3>

                    <h4>Số lượng thành Viên</h4>
                </div>
                <div class="icon">
                    <i class="ion-ios-people"></i>
                </div>
                <a href="#" class="small-box-footer"></a>
            </div>
        </div>
        <div class="w-100">
            <div class="small-box bg-secondary m-auto">
                <div class="inner p-5">
                    <h3>@ViewBag.ThongKeSL</h3>

                    <h4>Số lượng sản phẩm</h4>
                </div>
                <div class="icon">
                    <i class="ion ion-eye"></i>
                </div>
                <a href="#" class="small-box-footer"></a>
            </div>
        </div>
    </div>
</div>

<!-- Thêm jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Thêm Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="chart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Admin/ThongKeDoanhThu', // Đường dẫn đến Controller
            type: 'GET',
            success: function (data) {
                var ctx = document.getElementById('chart').getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Hôm nay', 'Tuần', 'Tháng'],
                        datasets: [{
                            label: 'Doanh thu (VND)',
                            data: [data.revenueToday, data.revenueWeek, data.revenueMonth],
                            backgroundColor: ['orange', 'gray', 'black']
                        }]
                    }
                });
            }
        });
    });
</script>

